<doctype! html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-sanitize.js"></script>
    <script src="services.js"></script>
    <link rel='stylesheet' type='text/css' href='style.css'>
    <title>Top 50 Streamers on Twitch</title>
  </head>
  <body ng-app="streamer" ng-controller="streamerControl">

    <h2>Show Top 50 Streamers on Twitch.tv by Average Viewer Count (updated every hour)</h2>

    <button ng-click="getStreamers('')">
      All Games
    </button>
    <button ng-click="getStreamers('League of Legends')">
      League of Legends
    </button>
    <button ng-click="getStreamers('Counter-Strike: Global Offensive')">
      CS: GO
    </button> 
    <button ng-click="getStreamers('Dota 2')">
      DOTA 2
    </button> 
    <button ng-click="getStreamers('Hearthstone: Heroes of Warcraft')">
      Hearthstone: HoW
    </button> 
    <button ng-click="getStreamers('StarCraft II: Heart of the Swarm')">
      Starcraft 2: HotS
    </button>     

    <table>
      <tr>

        <th>Streamer Name</th>
        <th>Average Viewer Count</th>

      </tr>
      <tr ng-repeat="streamer in data.streamers | orderBy:'-avg_viewer_count'">

        <td ng-click="getStreamerURL(streamer.streamer_name)"> {{streamer.streamer_name}} </td>
        <td ng-click="getStreamerURL(streamer.streamer_name)"> {{streamer.avg_viewer_count}} </td>

      </tr>
    </table>

    <iframe id="player" type="text/html" width="620" height="378"
      src="{{trustSrc(data.url)}}"
      frameborder="0">
    </iframe>

  </body>
</html>